<%- include('partials/header') %>

    <main>
        <h1>Booked Slots</h1>
        <table>
            <tr>
                <thead>Name</thead>
                <thead>Date</thead>
                <thead>Duration</thead>
            </tr>
            <% slots.forEach((slot) => { %>
            <tr>
                <td><%= slot.name %></td>
                <td><%= slot.date.toDateString() %></td>
                <td><%= slot.duration %> min</td>
            </tr>
            <% }); %>
        </table>

        <a href="/">Home</a>
    </main>

<%- include('partials/footer') %>