<%- include('partials/header') %>

    <main>
        <div class="ui container">
            <h1 class="ui center aligned block header">Booked Slots</h1>
            <table class="ui celled table">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Duration</th>
                    </tr>
                </thead>
                <% slots.forEach((slot) => { %>
                <tr>
                    <td><%= slot.name %></td>
                    <td><%= slot.date.toDateString() %></td>
                    <td><%= slot.duration %> min</td>
                </tr>
                <% }); %>
            </table>
    
            <button id="home" class="ui button"><a href="/">Home</a></button>
        </div>
    </main>

<%- include('partials/footer') %>